@page
@model EmployeesModel
@{
	ViewData["Title"] = "Employees";
}

@section Scripts {
	<script type="text/javascript" src="~/js/employees.js"></script>
}

<table id="master-table" class="table table-striped border">
</table>
