@page
@model OrganisationsModel
@{
    ViewData["Title"] = "Organisations";
}

@section Scripts {
    <script type="text/javascript" src="~/js/organisations.js"></script>
}

<table id="master-table" class="table table-striped table-hover border">
</table>
